/* 
    Created on : 5.3.2015, 14:39:44
    Author     : Jiří Ludvar <jiri.ludvar@mediaaction.cz>
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: #ddd url(../gfx/bg_grey.png) 50% 0% no-repeat;
    font-family: 'Open Sans', Verdana, sans-serif;
}
body{
    background: url(../gfx/bg_spoj.png) 50% 100% no-repeat;
}